<div class='row'>
  <div class='col-auto'>
    <h2>Welcome, {{user.name}}!</h2>
  </div>
</div>

<div class='mb-3'>
  <div class='col-md-6'>
    <h3>Update Blog: {{name}}</h3>
    <form class='form update-blog-form' update-id='{{id}}'>
      <div class='form-group'>
        <label for='update-name'>Updated Blog Name:</label>
        <input class="form-control" rows="3" type='text' 
        id='update-name' name='update-name' value='{{blog.name}}' />
      </div>
      <div class='form-group'>
        <label for='update-desc'>Updated Description:</label>
        <textarea
          class="form-control" rows="3" 
          id='update-desc' name='update-desc'>{{blog.description}}
        </textarea>
      </div>
      <div class='form-group form-check'>
        <button type='submit' class="btn btn-outline-success" id="updateButton"  update-id={{blog.id}} class=' btn-primary'>UPDATE</button>
      </div>
    </form>
  </div>

 <div class='col-md-4'>
    <button class="btn btn-outline-danger" id="deleteButton" data-id='{{blog.id}}'>DELETE</button>
    <a href='/dashboard'>
      <button class="btn btn-outline-warning" 
      cancel-id='{{comment.id}}'>CANCEL</button>
    </a>
  </div>
</div>

<script src='/js/dashboard.js'></script>